@import '../../../styles/mixin.scss';
@import '../../../styles//theme.scss';

.listitem {
    @include flex($direction: column);
    margin: 10px 15px;
    padding: 15px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 6px $background-color-dark;
    border-radius: $border-radius;

    &__title {
        @include lamp-clamp(2);
        font-size: 36px;
        word-break: break-all;
    }
    &__content {
        @include lamp-clamp(3);
        font-size: 32px;
        word-break: break-all;
    }
    &__time {
        font-size: 28px;
        color: $text-color-light;
    }
}